*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{

    width:100%;
    height:100%;

    background:transparent;

    font-family:Arial,Helvetica,sans-serif;

}

body{

    display:flex;

    justify-content:center;

    align-items:center;

}

.wrapper{

    text-align:center;

}

#title{

    margin-bottom:30px;

    color:#1B53C6;

    font-size:34px;

    font-weight:bold;

}

/* Change FlipDown colors */

.flipdown.flipdown__theme-dark .rotor,
.flipdown.flipdown__theme-dark .rotor-leaf-front,
.flipdown.flipdown__theme-dark .rotor-leaf-rear{

    background:#1B53C6 !important;

    color:#fff !important;

}

.flipdown.flipdown__theme-dark .rotor-top,
.flipdown.flipdown__theme-dark .rotor-bottom{

    background:#1B53C6 !important;

}

.flipdown{

    margin:auto;

}

@media(max-width:768px){

.flipdown{

transform:scale(.72);

transform-origin:center;

}

}
